
# This file is used by pip to install required python packages
# Usage: pip install -r requirements.txt

plotly
certifi==2018.1.18
configparser==3.5.0
decorator==4.4.2
Flask==1.0.0
Flask-WTF==0.14.2
Jinja2==2.11.2
jsonschema==2.6.0
ldap3==2.8.1
matplotlib==3.0.3
networkx==2.5
ply==3.11
psycopg2==2.7.7
py==1.8.0
requests==2.18.4
SQLAlchemy==1.2.4
urllib3==1.22
WTForms==2.3.3
