<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
    {% with active_item='compare' %}
        {% include "navigation_bar.html" %}
    {% endwith %}
    <div class="error-container">
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ form[field].label }}: </strong>{{ ', '.join(errors) }}
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
        {% endfor %}
    </div>
    <div class="main-page-wrapper">
        <div class="left-menu" id="">
            <form method="POST" action="{{ url_for('compare') }}">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.app_id_1.label }}
                    {{ form.app_id_1(class="form-control", placeholder="E.g. application_1234567890123_1234") }}
                </div>
                <div class="form-group">
                    {{ form.app_id_2.label }}
                    {{ form.app_id_2(class="form-control", placeholder="E.g. application_1234567890123_1234") }}
                </div>
                {{ form.compare_btn(class="btn btn-primary") }}
            </form>
        </div>
        <div class="compare-grid-container">
            {% if form.app_id_1.data and form.app_id_2.data %}
                <div class="col-1-row-1">
                    <h3>app_id_1234567</h3>
                    <p>Username: john_doe</p>
                    <div class="compare-start-end-container">
                        <span class="compare-start-end">Start Time: 2020-12-31 12:34:56</span>
                        <span class="compare-start-end">End Time: 2020-12-31 23:45:56</span>
                    </div>
                </div>
                <div class="col-1-row-2">
                    <h4>Basic Metrics</h4>
                    <div class="card-container">
                        {% for k in range(8) %}
                        <div class="card card-body">
                            <div class="basic-metric-name">Metric name</div>
                            <div class="basic-metric-value">Metric value</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-1-row-3">
                    <h4>Issues</h4>
                    {% for j in range(3) %}
                    <div class="issue-container">
                        <div class="metrics-indicator">Dummy</div>
                        <div class="metrics-description">
                            <p>A detailed description of the issue</p>
                            <p>Sometimes, multiple lines are needed</p>
                            <p>Or even more lines</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-1-row-4">
                <h4>Key Configuration Items</h4>
                    <div class="card-container">
                        <div class="card card-body">
                            <div class="basic-metric-name">Memory</div>
                            <div class="basic-metric-value">Driver Memory: X GB</div>
                            <div class="basic-metric-value">Driver Memory Overhead: X GB</div>
                            <div class="basic-metric-value">Executor Memory: X GB</div>
                            <div class="basic-metric-value">Evecutor Memory Overhead: X GB</div>
                        </div>
                        <div class="card card-body">
                            <div class="basic-metric-name">Others</div>
                            <div class="basic-metric-value">Number Of Executors: X</div>
                            <div class="basic-metric-value">Cores Per Executor: X</div>
                            <div class="basic-metric-value">Dynamic allocation: X</div>
                            <div class="basic-metric-value">Driver max result size: X GB</div>
                        </div>
                    </div>
                </div>
                <div class="col-1-row-5">
                    <h4>All Configuration Items (<a data-toggle="collapse" data-target=".multi-collapse" href="">Expand/Collapse</a>)</h4>
                    <div class="collapse multi-collapse show">
                        <div class="card card-body">
                            <div>aa</div>
                            <div>bb</div>
                            <div>cc</div>
                            <div>dd</div>
                            <div>ee</div>
                        </div>
                    </div>
                </div>

                <div class="col-2-row-1">
                    <h3>app_id_1234567</h3>
                    <p>Username: john_doe</p>
                    <div class="compare-start-end-container">
                        <span class="compare-start-end">Start Time: 2020-12-31 12:34:56</span>
                        <span class="compare-start-end">End Time: 2020-12-31 23:45:56</span>
                    </div>
                </div>
                <div class="col-2-row-2">
                    <h4>Basic Metrics</h4>
                    <div class="card-container">
                        {% for k in range(8) %}
                        <div class="card card-body">
                            <div class="basic-metric-name">Metric name</div>
                            <div class="basic-metric-value">Metric value</div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-2-row-3">
                    <h4>Issues</h4>
                    {% for j in range(2) %}
                    <div class="issue-container">
                        <div class="metrics-indicator">Dummy</div>
                        <div class="metrics-description">
                            <p>A detailed description of the issue</p>
                            <p>Sometimes, multiple lines are needed</p>
                            <p>Or even more lines</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-2-row-4">
                <h4>Key Configuration Items</h4>
                    <div class="card-container">
                        <div class="card card-body">
                            <div class="basic-metric-name">Memory</div>
                            <div class="basic-metric-value">Driver Memory: X GB</div>
                            <div class="basic-metric-value">Driver Memory Overhead: X GB</div>
                            <div class="basic-metric-value">Executor Memory: X GB</div>
                            <div class="basic-metric-value">Executor Memory Overhead: X GB</div>
                        </div>
                        <div class="card card-body">
                            <div class="basic-metric-name">Others</div>
                            <div class="basic-metric-value">Number Of Executors: X</div>
                            <div class="basic-metric-value">Cores Per Executor: X</div>
                            <div class="basic-metric-value">Dynamic allocation: X</div>
                            <div class="basic-metric-value">Driver max result size: X GB</div>
                        </div>
                    </div>
                </div>
                <div class="col-2-row-5">
                    <h4>All Configuration Items (<a data-toggle="collapse" data-target=".multi-collapse" href="">Expand/Collapse</a>)</h4>
                    <div class="collapse multi-collapse show">
                        <div class="card card-body">
                            <div>config 1: val 1</div>
                            <div>config 2: val 2</div>
                            <div>config 3: val 3</div>
                            <div>config 4: val 4</div>
                        </div>
                    </div>
                </div>
            {% else %}
            <h1 class="null-message">Enter the application ID's</h1>
            {% endif%}
        </div>
    </div>
</body>
</html>