<nav class="navbar navbar-expand-sm bg-dark">
    <h1>Sparkscope</h1>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('home') }}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('search') }}">Search</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('compare') }}">Compare</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('app_history') }}">App History</a>
        </li>
    </ul>
</nav>